<div class="row">
  <div class="span8">
    <%= gravatar_for @user %>
    <h1><%= @user.name %></h1>
  </div>
  <div class="span4 well">
    <strong>Name: </strong><%= @user.name %><br>
    <strong>URL: </strong><%= link_to user_path(@user.id) %>
  </div>
</div>
