<div class="discussions block">
  <h2>Discussions</h2>
  <%= link_to "New Discussion",
    new_project_discussion_path(@project),
    class: "btn btn-success new-discussion-btn" %>
  <% if @discussions.any? %>
    <table>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.title, project_discussion_path(discussion.project_id, discussion) %></td>
        <td><%= get_name(discussion.user_id) %></td>
        <td>Created <%= time_ago_in_words(discussion.created_at) %> ago</td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>No discussions yet...</p>
  <% end %>
</div>
