<div class="block text_documents">
  <h2>Text Documents</h2>
  <%= link_to "New Document",
    new_project_text_document_path(@project),
    class: "btn btn-success new-document-btn" %>

  <% if @text_documents.any? %>
    <table class="text_documents">
    <% @text_documents.each do |text_document| %>
      <tr>
        <td><%= link_to text_document.title,
          project_text_document_path(text_document.project, text_document) %></td>
        <td>
          by <%= link_name text_document.user %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>No text documents just yet...</p>
  <% end %>
</div>
