<div class="action-index">
  <h1>My Projects</h1>
  <%= link_to 'New Project', new_project_path,
    class: "btn btn-primary",
    id: "add-project-btn" %>

  <div class="projects block">
  <% if @projects.any? %>
    <table>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project  %></td>
        <td>Due in <%= distance_of_time_in_words(Time.now, project.due) %></td>
        <td>Project manager: <%= link_name(project.user_id) %></td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>You do not have any projects at this moment...</p>
  <% end %>
  </div>
</div>
