// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  position: relative;
  .body {
    margin-bottom: 20px;
  }
  .created {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}
.form-inputs {
  textarea {
    height: 75px;
    width: 100%;
  }
}
.form-actions {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  text-align: right;
  input[type=submit] {
    
  }
}
