// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
  margin-top: 30px;
}
.discussions {
  h2 {
    float: left;
  }
  .new-discussion-btn {
    margin-top: 17px;
    margin-left: 26px;
  }
  table {
    width: 100%;
  }
}

.sidebar {
  #edit-btn {
    float: left;
    margin-right: 10px;
  }
}
