// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
  margin-top: 30px;
}

.action-index {
  h1 {
    float: left;
  }
  #add-project-btn {
    margin-top: 16px;
    margin-left: 20px;
  }
  .projects {
    table {
      width: 100%;
      td {
        padding: 5px 0;
      }
    }
  }
}
.discussions {
  h2 {
    float: left;
  }
  .new-discussion-btn {
    margin-top: 17px;
    margin-left: 26px;
  }
  table {
    width: 100%;
  }
}
.text_documents {
  h2 {
    float: left;
  }
  .new-document-btn {
    margin-top: 17px;
    margin-left: 26px;
  }
  table {
    width: 100%;
  }
}

.sidebar {
  #edit-btn {
    float: left;
    margin-right: 10px;
  }
  #members_heading {
    h3 {
      float: left;
    }
    a {
      margin-top: 16px;
      margin-left: 11px;
    }
  }
  #members_list {
    clear: both;
    table {
      width: 100%;
    }
    #edit_project_1 {
      margin: 5px 0;
    }
    form {
      margin: 0;
    }
  }
  .destroy {
    margin-top: 40px;
  }
}
